extends layout

block content
  .row-fluid
    form.form-horizontal.offset1(action="create", method="post", accept-charset="utf-8")
        .control-group
          label.control-label(for="name") Name:
          .controls
            input.span5(type="text", name="name", value=name)
        .control-group
          label.control-label(for="description") Description:
          .controls
            textarea.span5(name="description", rows="10")
        .control-group
          label.control-label(for="facebook") Facebook:
          .controls
            input.span5(type="text", name="facebook")
        .control-group
          label.control-label(for="twitter") Twitter:
          .controls
            input.span5(type="text", name="twitter")
        .control-group
          label.control-label(for="myspace") Myspace:
          .controls
            input.span5(type="text", name="myspace")
        .control-group
          .controls
            button.btn(type="submit") Save